@model List<AndresBalladares_Proyecto.Models.Cliente>
@{
    ViewData["Title"] = "Insertar dirección";
}

<h1>Insertar dirección</h1>

@if (Model != null)
{
    @if (TempData["Mensaje"] != null)
    {
        <div class="alert alert-success">
            @Html.Raw(TempData["Mensaje"])
        </div>
    }
    @if (TempData["Errores"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Errores"]
        </div>
    }

    <form asp-controller="Direcciones" asp-action="Store" method="post">
        <label for="ID">ID:</label>
        <input type="number" name="ID" id="ID" class="form-control" required><br>

        <label for="IDCliente">ID del cliente:</label>
        <select name="IDCliente" class="form-control" id="IDCliente" required>
            <option value="">-- Seleccione un cliente --</option>
            @foreach (var cliente in Model)
            {
                <option value="@cliente.ID">@cliente.ID - @cliente.Nombre @cliente.Apellidos</option>
            }
        </select><br>

        <label for="Provincia">Provincia:</label>
        <input type="text" name="Provincia" id="Provincia" class="form-control" required><br>

        <label for="Canton">Cantón:</label>
        <input type="text" name="Canton" id="Canton" class="form-control" required><br>

        <label for="Distrito">Distrito:</label>
        <input type="text" name="Distrito" id="Distrito" class="form-control" required><br>

        <label for="PuntoWaze">Punto Waze:</label>
        <input type="text" name="PuntoWaze" id="PuntoWaze" class="form-control" required><br>

        <label for="URL">URL:</label>
        <input type="text" name="URL" id="URL" class="form-control" required><br>

        <div class="form-group">
            <label for="EsCondominio">Es Condominio:</label>
            @Html.DropDownList("EsCondominio", new List<SelectListItem>
        {
        new SelectListItem { Text = "Seleccione una opción", Value = "", Selected = true, Disabled = true },
        new SelectListItem { Text = "Sí", Value = "true" },
        new SelectListItem { Text = "No", Value = "false" }
        }, new { @class = "form-control", required = "required" })
        </div>


        <input type="submit" value="Guardar">
    </form>
}
else
{
    <p>No se encontraron datos de clientes.</p>
}