@model List<AndresBalladares_Proyecto.Models.Direccion>
@{
    ViewData["Title"] = "Eliminar dirección";
}
<h1>Eliminar direcciones</h1>
<h2 style="font-family: Arial, sans-serif; font-size: 16px;">
    Orden: 1. Clientes. 2. Inventarios. 3. Direcciones. 4. Pedidos.
    Si se elimina un elemento conectado a otro con mayor prioridad, este no se eliminará.
</h2>

<style>
    .ListaHorizontal {
        overflow: hidden;
        table-layout: fixed;
        width: 102%;
        border-collapse: collapse;
        border: 1px black solid;
    }

    th, td {
        overflow-wrap: anywhere;
        width: 50%;
        border: 1px black solid;
        padding: 10px;
    }
</style>


@if (Model.Count > 0)
{
    <div class="ListaHorizontal">
        <h2 align="center">Presione el botón para eliminar la dirección</h2>
        <table class="ListaHorizontal">
            <tr>
                <th>Eliminar</th>
                <th>ID</th>
                <th>ID del cliente</th>
                <th>Provincia</th>
                <th>Cantón</th>
                <th>Distrito</th>
                <th>Punto en Waze</th>
                <th>URL</th>
                <th>Es condominio</th>
            </tr>
            @foreach (var direccion in Model)
            {
                <tr>
                    <td>
                        <form asp-action="Borrar" asp-controller="Direcciones" method="post">
                            <input type="hidden" name="ID" value="@direccion.ID" />
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                    <td>@direccion.ID</td>
                    <td>@direccion.IDCliente</td>
                    <td>@direccion.Provincia</td>
                    <td>@direccion.Canton</td>
                    <td>@direccion.Distrito</td>
                    <td>@direccion.PuntoWaze</td>
                    <td>@direccion.URL</td>
                    <td>@direccion.EsCondominio</td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <p>No se encontraron datos de direcciones.</p>
}

