@model List<AndresBalladares_Proyecto.Models.Inventario>
@{
    ViewData["Title"] = "Buscar inventario";
}
<h1>Buscar inventario</h1>

<style>
    .ListaHorizontal {
        overflow: hidden;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border: 1px black solid;
    }

    th, td {
        overflow-wrap: anywhere;
        width: 50%;
        border: 1px black solid;
        padding: 10px;
    }
</style>


@if (Model.Count > 0)
{
    <div class="ListaHorizontal">
        <h2 align="center">Datos de inventario</h2>
        <table class="ListaHorizontal">
            <tr>
                <th>ID del artículo</th>
                <th>Cantidad</th>
                <th>ID de bodega</th>
                <th>Fecha de ingreso</th>
                <th>Fecha de vencimiento</th>
                <th>Tipo</th>
                <th>Precio</th>
            </tr>
            @foreach (var inventario in Model)
            {
                <tr>
                    <td>@inventario.ID</td>
                    <td>@inventario.Cantidad</td>
                    <td>@inventario.IDBodega</td>
                    <td>@inventario.FechaIngreso</td>
                    <td>@inventario.FechaVencimiento</td>
                    <td>@inventario.Tipo</td>
                    <td>@inventario.Precio</td>
                </tr>
            }
        </table>
    </div>
}
else
{
    <p>No se encontraron datos de inventario.</p>
}
