@model AndresBalladares_Proyecto.Models.ModelosViewModel

@{
    ViewData["Title"] = "Actualizar pedido";
}

<h1>Actualizar pedido</h1>

@if (Model.Pedidos.Count > 0)
{
    <body>
        @if (TempData["Mensaje"] != null)
        {
            <div class="alert alert-success">
                @TempData["Mensaje"]
            </div>
        }
        @if (TempData["Errores"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Errores"]
            </div>
        }
        <form asp-controller="Pedidos" asp-action="Editar" method="post">
            <label for="Descuentos">Descuentos en base a las últimas compras: >= 200 000 : 3%, >= 300 000 : 4%, >= 400 000 : 5%, >= 500 000 : 6%</label><br>

            <label for="pedidoSeleccionado">Seleccione un pedido:</label>
            <select name="pedidoSeleccionado" class="form-control" id="pedidoSeleccionado" required>
                <option value="">-- Seleccione un pedido --</option>
                @foreach (var pedido in Model.Pedidos)
                {
                    <option value="@pedido.ID" data-idcliente="@pedido.IDCliente">@pedido.ID - @pedido.IDCliente - @pedido.Costo colones - @pedido.Estado</option>
                }
            </select><br>

            <label for="ID">ID del pedido:</label>
            <input type="number" name="ID" id="ID" class="form-control" required><br>

            <input type="hidden" name="IDCliente" value="1" />

            <label for="InventarioSeleccionado">ID del artículo:</label>
            <select name="IDInventario" class="form-control" id="IDInventario">
                <option value="">Seleccione un artículo</option>
                @foreach (var articulo in Model.Inventarios)
                {
                    <option value="@articulo.ID">@articulo.ID - @articulo.Tipo - @articulo.Precio colones sin IVA</option>
                }
            </select><br>

            <label for="Cantidad">Cantidad:</label>
            <input type="number" name="Cantidad" id="Cantidad" class="form-control" required><br>

            <label for="IDDireccion">Dirección:</label>
            <select name="IDDireccion" id="IDDireccion" class=" form-control">
                <option value="" disabled selected>Seleccione una dirección</option>
                @foreach (var direccion in Model.Direcciones)
                {

                    <option value="@direccion.ID">@direccion.ID - @direccion.IDCliente - @direccion.Canton</option>
                }
            </select><br>

            <label for="Fecha">Fecha del pedido:</label>
            <input type="datetime-local" name="Fecha" id="Fecha" class="form-control" required><br>

            <label for="Estado">Estado:</label>
            <select name="Estado" id="Estado" class="form-control" required>
                <option value="" disabled selected>Seleccione un estado</option>
                <option value="En proceso">En proceso</option>
                <option value="Facturado">Facturado</option>
                <option value="Por entregar">Por entregar</option>
                <option value="Entregado">Entregado</option>
            </select><br>

            <button type="submit">Editar</button>
        </form>
    </body>
    
}
else
{
    <p>No se encontraron datos de pedidos.</p>
}



